html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
}

p,
label,
span {
  font-size: 0.8rem;
  font-weight: 200;
}

select {
  border-radius: 0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 0.1rem;

  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;

  background: url('icons/down_arrow.svg') 96% / 0.8rem no-repeat;
}

input {
  border: 2px solid black;
  padding: 0.15rem;
}

button:hover {
  cursor: pointer;
}

button:hover:disabled {
  cursor: not-allowed;
}

.collapsed {
  display: none;
}

#dinnerOverview {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding-bottom: 1rem;
}

#confirmationBox {
  width: 100%;
  height: 10rem;
  border-width: 2px 0;
  border-color: #000;
  padding: 0 0 2rem 0;
}

#confirmDinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.divider {
  display: flex;
  justify-content: space-between;
  height: 1.2rem;
  background-color: #ededed;
  padding: 0 2rem;
  border-width: 2px 0;
  border-color: #000;
  border-style: solid;
}

#dinnerTable {
  padding: 0 1rem;
  width: 100%;
  color: rgb(184, 60, 60);
}

#dinnerTable tr {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#totalPrice {
  color: rgb(184, 60, 60);
  text-align: right;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 900;
}

#dinnerTable tr:nth-child(odd) {
  background-color: #ededed;
}

#headerView {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-size: 0.7em;
  background-color: #ededed;
  width: 100%;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cartView {
  border-width: 2px 2px 0px 2px;
  border-style: solid;
  border-color: #000;
}

#cartViewHeader {
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

#burgerIcon {
  stroke: #000;
  stroke-width: 0.1rem;
}

#peopleSelector {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

#peopleSelector input {
  width: 2rem;
  text-align: center;
}

#searchPanel {
  padding: 0 5rem 1rem 5rem;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#searchPanel * {
  margin: 0.5rem 0;
}
#dinnerFinder {
  border-top: 2px solid black;
}

#filterOptions {
  display: flex;
  flex-direction: column;
}

#filterOptions * {
  margin-right: 1rem;
}

#resultPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.dishItem {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 10rem;
  height: 10rem;
}

.thumbnailImage {
  height: 100%;
  object-fit: contain;
}

.thumbnail img {
  max-width:100%;
  max-height:100%;
}

.dishItem p {
  border-top: 2px solid black;
  text-align: center;
  background-color: #ededed;
  padding: 0.5rem 0;
}


.primaryButton {
  background-color: #ffbf60;
  border: 2px solid black;
  padding: 0.5rem;
  box-shadow: 0.2rem 0.2rem;
}

.primaryButton:hover:enabled {
  background-color: #ffcc7e;
}

.primaryButton:active:enabled {
  cursor: pointer;
  position: relative;
  box-shadow: none;
  top: 0.2rem;
  left: 0.2rem;
}

.primaryButton:disabled {
  background-color: #ededed;
  border-color: rgb(79, 78, 78);
}

#homeView {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#homeView p {
  width: 60%;
  padding: 0 0 2rem 0;
}

@media screen and (min-width: 800px) {
  #headerView {
    font-size: 1rem;
  }

  #homeView {
    margin: 3rem 0;
  }

  #dinnerOverview {
    flex-direction: row;
  }

  #dinnerPlan {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    width: 30%;
  }

  #dinnerFinder {
    border-top: none;
    width: 100%;
  }

  #searchPanel {
    padding: 0 1rem;
  }

  #searchPanel h1 {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.2rem;
  }

  .collapsed {
    display: inherit;
  }

  #filterOptions {
    flex-direction: row;
  }

  #burgerMenu {
    display: none;
  }

  #resultPanel {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
  }

  #resultPanelWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dishItem {
    margin: 0.5rem 1rem;
  }
}
