<div id="cartView">
  <div id="cartViewHeader">
    <h1>My Dinner</h1>
    <span>SEK 180</span> 
    <div id="burgerMenu">
      <svg id="burgerIcon" height="21" width="30">
        <line x1="0" y1="5" x2="30" y2="5"></line>
        <line x1="0" y1="12" x2="30" y2="12"></line>
        <line x1="0" y1="19" x2="30" y2="19"></line>
      </svg>
    </div>
  </div>
  <div id="peopleSelector">
    <label>
      People
      <input type="number" value="2" max="999" min="0"/>
    </label>
  </div>
  <div id="confirmationBox">
    <div class="divider">
      <span>Dish name</span>
      <span>Cost</span>
    </div>
    <table id="dinnerTable">
    </table>
    <p id="totalPrice"></p>
    <div id="confirmDinner">
      <button class="primaryButton" disabled="">
        Confirm Dinner
      </button>
    </div>
  </div>
</div>